<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <title>Welcome to the City 17: Main page.</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div align="center">
    <!--<a href="/tasks/dashboard/"
       th:if="${access.taskDashboard}">Dashboard</a>

    <a href="/tasks/create/"
       th:if="${access.createTasks}">Create task</a>

    <a href="/tasks/assign/"
       th:if="${access.assignTasks}">Create task</a>
-->
</div>
</body>
</html>